%nav.top-bar
  %ul
    %li
      %a{ :href => "https://github.com/Bootyard/bootyard-jekyll" }
        Bootyard flavored Jekyll
  / Building the Nav
  %section
    %ul.left
      %li
        %a{:href => "/page1.html"} Page 1
      %li.has-dropdown
        %a{:href => "#"} Dropdown
        %ul.dropdown
          %li
            %a{:href => "/page2.html"} Page 2
    %ul.right
      %li.active
        %a{:href => "/page3.html"} Page 3
