/ Navigation
%nav
  %ul.nav-bar
    %li
      %a{:href => "index.html"} Home
    %li
      %a{:href => "page1.html"} page1
    %li
      %a{:href => "page2.html"} page2
    %li
      %a{:href => "page3.html"} page3